#pageTitle{
    text-align: center;
    font-size: 2rem;
    margin: 0rem auto;
    display: block;
    padding: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

th {
    background-color: #d5382d;
    color: #ffffff;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #d5d5d5e2;
}

.btn-edit-exam, .btn-delete-exam{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0.5rem;
}
.btn-edit-exam:hover, .btn-delete-exam:hover{
    cursor: pointer;
    background-color: transparent;
}

#newContest {
    display: block;
    margin: 1rem auto 0 auto;
    font-size: 10px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    transition: all 0.25s ease-in-out;
}

#newContest:hover {
    background-color: #b60000;
}

tr:nth-child(odd) { background-color: #ffffff; }